.front {
    font-size: 6em;
    /*left: 0;*/
    line-height: 100%;
    /*padding-top: 25px; */
    /*position: absolute; */
    text-align: center;
    top: 0;
    width: 100%;
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    /*background-color: black;*/
}